

#canvas {
    border:1px solid #6d6c6c;
    background-image: url('../img/bg.png')

    }

.start {
    font-size: 20px;
    border: 1px solid black;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}